.menu {
  display: flex;
  align-items: center;
  padding: 60px 0;

  &__list {
    display: flex;
    margin-right: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link--active {
    color: $orange-900;
  }
}

.user-nav {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: background-color 0.4s, outline-color 0.4s, color 0.4s;
    ellipse,
    path {
      transition: stroke 0.4s;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      outline-color: rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: #ff7a50;
      ellipse,
      path {
        stroke: $white;
      }
      .user-nav__num {
        color: $orange-900;
        background-color: $white;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);
    }
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    color: $white;
    background-color: $orange-900;
    transition: background-color 0.4s, color 0.4s;
  }
}
