$accent: #ff6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$lite: #ffffff;
$bg-01: rgba(255, 122, 80, 0.1);

$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;