.breadcrumbs {
  padding: 164px 0 60px;

  @include r($lg) {
    padding-top: 134px;
  }
  @include r($sm) {
    padding-top: 94px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    padding-top: 94px;
  }

  &__container {
    &::before {
      content: "";
      position: absolute;
      top: 164px;
      left: 50%;
      height: 66px;
      width: 100vw;
      transform: translateX(-51%);
      background-color: rgba(255, 104, 56, 0.1);
      z-index: -1;
      @include r($lg) {
        top: 134px;
      }
      @include r($sm) {
        top: 94px;
      }
      @media (max-width: 1024px) and (orientation: landscape) {
        top: 94px;
      }
    }
  }

  &__list {
    display: flex;
    padding: 24px 0;
    position: relative;
    @include r($sm) {
      overflow-x: scroll;
    }
  }

  &__item {
    font-size: 14px;
    &:not(:last-child) {
      padding-right: 16px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 6px;
        height: 10px;
        background-image: url("../images/chevron.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__link {
    padding: 12px 0;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
    color: #505050;
    white-space: nowrap;
  }
}
