.header {
  &__container {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 15px;
    z-index: 1000;

    @include r($lg) {
      padding: 45px 15px;
    }
    @include r($sm) {
      padding: 25px 15px;

      .logo {
        width: 110px;
      }
    }
    @media (max-width: 992px) and (orientation: landscape) {
      padding: 25px 15px;
      .logo {
        width: 110px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 100vw;
      transform: translateX(-50%);
      background-color: transparent;
      z-index: -1;
      transition: background-color 0.4s;
    }

    &--scrolled {
      &::before {
        background-color: $silver-100;
      }
    }
  }
}

.burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  color: $darkBlue-900;

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: currentColor;
  }

  &::before {
    top: 12px;
  }

  &::after {
    top: calc(100% - 14px);
  }
  @include r($lg) {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__list {
    display: flex;
    margin-right: 50px;

    @include r($lg) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &.current {
      color: $accent;
    }
  }
}

.user-nav {
  display: flex;
  margin-left: auto;
  @include r($lg) {
    margin-right: 17px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    stroke-width: 1.5px;
    fill: transparent;
    stroke: $darkBlue-900;
    transition: stroke 0.4s;

    &--submit {
      stroke-width: 1px;
      fill: $darkBlue-900;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition:
      background-color 0.4s,
      border-color 0.4s,
      color 0.4s;

    &:focus {
      background-color: $bg-01;
      border-color: $accent-07;
    }

    &:hover {
      background-color: #ff7a50;

      .user-nav__icon {
        stroke: $lite;
      }

      .user-nav__num {
        color: $accent;
        background-color: $lite;
      }
    }

    &:active {
      background-color: $bg-01;
    }
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    color: $lite;
    background-color: $accent;
    transition:
      background-color 0.4s,
      color 0.4s;
  }
}
