.features {
  
  &__container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left 70px;
    display: flex;
    align-items: center;  
  }
  
  &__content {
    min-height: 54vh;
    max-width: 470px;
    margin-left: auto;
    margin-right: 70px;
  }

  &__title,
  &__text,
  &__list {
    margin-bottom: 30px;
  }

  &__text {
    line-height: 1.5;
  }

  &__item {    
    display: flex;
    align-items: center;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item-text {
    font-size: 24px;
    line-height: 1.5;
    color: $darkBlue-900;
  }

  &__btn {
    display: inline-block;
  }
}