.footer {
  &__top {
    display: flex;
    padding-bottom: 60px;
  }

  &__top-item {
    margin-right: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    margin-bottom: 12px;
    max-width: 200px;
    padding: 13px 15px;
    background-color: $lite;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 5px;
    border: 1px solid $gray;
    transition: border-color 0.4s;

    &::placeholder {
      color: $gray;
      transition: color 0.4s;
    }

    &:focus {
      border-color: $accent;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;

    &:focus,
    &:hover,
    &:active {
      .footer__btn-icon {
        fill: $accent;
      }
    }
  }

  &__btn-icon {
    fill: $lite;
    margin-right: 15px;
    transition: fill 0.4s;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, auto));
    grid-gap: 20px 90px;
    height: 100%;
    margin-right: 141px;
  }

  &__link {
    letter-spacing: 0.18px;
  }

  &__contacts-list {
    margin-bottom: 20px;
  }

  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__contacts-span,
  &__contacts-link {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__contacts-link {
    &:hover {
      .footer__contacts-icon {
        stroke: $accent;
      }
    }
  }

  &__contacts-icon {
    fill: transparent;
    stroke: $dark;
    stroke-width: 1.5px;
    margin-right: 7px;
    transition: stroke 0.4s;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__social-link {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver-200;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: background-color 0.4s, border-color 0.4s;

    &:focus {
      border-color: $accent-07;
      background-color: $bg-01;
    }

    &:hover {
      background-color: #ff7a50;

      .footer__social-icon {
        fill: #fff2ed;
      }
    }

    &:active {
      background-color: #fff2ed;

      .footer__social-icon {
        fill: #ff7a50;
      }
    }
  }

  &__social-icon {
    fill: $dark;
    transition: fill 0.4s;
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid $gray;
    background-color: $darkBlue-900;
  }

  &__copy {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: $lite;
  }
}
