.footer {
  &__top {
    display: flex;
    padding-bottom: 60px;
  }

  &__form-logo {
    margin-right: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    margin-bottom: 12px;
    max-width: 200px;
    padding: 13px 15px;
    background-color: $lite;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid $gray;
    transition: border-color 0.4s;

    &::placeholder {
      color: $gray;
      transition: color 0.4s;
    }

    &:focus {
      border: 2px solid $accent;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;

    svg {
      margin-right: 15px;
    }

    path {
      transition: fill 0.4s;
    }

    &:focus {
      path {
        fill: $accent;
      }
    }

    &:hover {
      path {
        fill: $accent;
      }
    }

    &:active {
      path {
        fill: $accent;
      }
    }
  }

  &__menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, minmax(90px, auto));
    grid-gap: 20px 90px;
    height: 100%;
    margin-right: 141px;
  }

  &__link {
    letter-spacing: 0.18px;
  }

  &__contacts-list {
    margin-bottom: 20px;
  }

  &__contacts-item {
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    font-size: 16px;

    svg {
      margin-right: 7px;
    }

    path {
      transition: stroke 0.4s;
    }

    &:hover {
      path {
        stroke: $accent;
      }
    }
  }

  &__social {
    display: flex;
  }

  &__social-item {

    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__social-link {
    svg {
      border-radius: 50%;
      border: 2px solid transparent;
      transition: border-color 0.4s;
    }

    circle,
    path {
      transition: fill 0.4s;
    }

    &:focus {
      svg {
        border-color: $accent-07;
      }
      circle {
        fill: $bg-01;
      }
    }
    &:hover {
      circle {
        fill: #ff7a50;
      }
      path {
        fill: $lite;
      }
    }
    &:active {
      circle {
        fill: #fff2ed;
      }
      path {
        fill: #ff7a50;
      }
    }
  }
  
  &__bottom {
    padding: 30px 0;
    border-top: 1px solid $gray;
    background-color: $darkBlue-900;
  }

  &__copy {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: $lite;
  }
}
