.header {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 100vw;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.4s;
  }

  &--scrolled {
    &::before {
      background-color: $silver-100;
    }
  }
}

.menu {
  margin-left: auto;
  &__list {
    display: flex;
    margin-right: 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &.current {
      color: $accent;
    }
  }
}

.user-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  & .icon {
    stroke-width: 1.5px;
    fill: transparent;
    stroke: $darkBlue-900;
    transition: stroke 0.4s;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.4s, border-color 0.4s, color 0.4s;

    &:focus {
      background-color: $bg-01;
      border-color: $accent-07;
    }

    &:hover {
      background-color: #ff7a50;

      .icon {
        stroke: $lite;
      }

      .user-nav__num {
        color: $accent;
        background-color: $lite;
      }
    }

    &:active {
      background-color: $bg-01;
    }
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    color: $lite;
    background-color: $accent;
    transition: background-color 0.4s, color 0.4s;
  }
}
