.testimonials {
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include r($lg) {
      margin-bottom: 45px;
    }
    @include r($sm) {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    @include r($lg) {
      display: block;
      margin: 0 auto 30px;
    }
    @include r($sm) {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-right: 40px;
    border-radius: 50%;
    @include r($lg) {
      margin: 0 auto 20px;
    }
    @include r($sm) {
      width: 100px;
      height: 100px;
    }
  }

  &__quote {
    max-width: 649px;
    width: 100%;
    @include r($lg) {
      margin: 0 auto;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 30px;
    font-style: italic;
    line-height: 1.5;
    padding: 0 40px;
    @include r($sm) {
      font-size: 14px;
      padding: 0 35px;
      margin-bottom: 20px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &::before {
      background-image: url("../images/quote-left.svg");
      top: 0;
      left: 0;
    }

    &::after {
      background-image: url("../images/quote-right.svg");
      bottom: 0;
      right: 0;
    }
  }

  &__author {
    display: block;
    font-weight: 500;
    font-style: normal;
    color: $accent;
    padding-left: 40px;
    @include r($sm) {
      font-size: 16px;
      padding-left: 35px;
    }
  }

  &__author-info {
    display: block;
    color: $dark;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    @include r($sm) {
      margin-top: 10px;
    }
  }

  .controls__arrow {
    @include r($sm) {
      position: absolute;
      top: 94px;
      z-index: 10;
      &:nth-child(1) {
        left: 53px;
      }
      &:nth-child(3) {
        right: 53px;
      }
    }
  }
  .swiper-pagination-bullet {
    @include r($sm) {
      display: none;
    }
  }
}
