<section class="features section">
  <div class="container features__container" style="background-image: url('images/bg/features-bg.png');">
    
    <div class="features__content">
      <h2 class="features__title title">
        Залишайтеся вдома, а ми потурбуємося про їжу
      </h2>
      <p class="features__text">
        У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо зараз та
        отримайте знижку!
      </p>
      
      <ul class="features__list">
        <li class="features__item">
          <svg class="features__item-icon" width="34" height="34" fill="#ff6838">
            <use href="images/sprite.svg#icon-stopwatch"></use>
          </svg>
          <span class="features__item-text">
            Швидка доставка за 15 хвилин
          </span>
        </li>
        <li class="features__item">
          <svg class="features__item-icon" width="34" height="34" fill="#00aaff">
            <use href="images/sprite.svg#icon-delivery"></use>
          </svg>
          <span class="features__item-text">
            Чемні кур’єри
          </span>
        </li> 
        <li class="features__item">
          <svg class="features__item-icon" width="34" height="34" fill="#ff2222">
            <use href="images/sprite.svg#icon-shop"></use>
          </svg>
          <span class="features__item-text">
            Більше 500 закладів
          </span>
        </li>
      </ul>

      <a class="features__btn btn btn--big" href="#">Детальніше</a>
    </div>
  
  </div>
</section>