<footer class="footer">
  <div class="container">

    <div class="footer__top">

      <div class="footer__top-item">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="Логотип">
        </a>
        <form class="footer__form" action="#">
          <label class="footer__label">
            <span class="sr-only">Введіть ваш email</span>
            <input class="footer__input" type="email" name="email" placeholder="Ваш email" required>
          </label>
          <button class="footer__btn btn btn--big" type="submit">
            <svg class="footer__btn-icon" width="16" height="16">
              <use href="images/sprite.svg#icon-telegram"></use>
            </svg>
            Підписатися
          </button>
        </form>
      </div>

      <ul class="footer__menu">
        <li class="footer__item">
          <a class="footer__link link" href="#">Як це працює</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Про нас</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Застосунок</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Продукти</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Новини</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Блог</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Страви</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Партнери</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Що нового?</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Меню</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">ЧаПи</a>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="#">Мапа сайту</a>
        </li>
      </ul>

      <address class="footer__contacts">
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">
            <span class="footer__contacts-span">
              <svg class="footer__contacts-icon" width="24" height="24">
                <use href="images/sprite.svg#icon-location"></use>
              </svg>
              вул. Т.Г.Шевченка, 1
            </span>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link link" href="tel:+380501112233">
              <svg class="footer__contacts-icon" width="24" height="24">
                <use href="images/sprite.svg#icon-phone"></use>
              </svg>
              380501112233
            </a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__contacts-link link" href="mailto:support@sfood.com">
              <svg class="footer__contacts-icon" width="24" height="24">
                <use href="images/sprite.svg#icon-message"></use>
              </svg>
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">Посилання на фейсбук</span>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">Посилання на твіттер</span>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">Посилання на інстаграм</span>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="footer__copy">
      © 2023 Simple Food
    </p>
  </div>
</footer>