<section class="popular section">
  <div class="container">
    <h2 class="popular__title title">
      Популярне в категоріях
    </h2>
    <ul class="popular__list">
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".burger">
          <svg class="popular__btn-icon" width="44" height="44">
            <use href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургери
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".pizza">
          <svg class="popular__btn-icon" width="44" height="44">
            <use href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Піца
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".sandwich">
          <svg class="popular__btn-icon" width="44" height="44">
            <use href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          Сендвічі
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".asian">
          <svg class="popular__btn-icon" width="44" height="44">
            <use href="images/sprite.svg#icon-asian"></use>
          </svg>
          Азійська кухня
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".set">
          <svg class="popular__btn-icon" width="44" height="44">
            <use href="images/sprite.svg#icon-set"></use>
          </svg>
          Cети
        </button>
      </li>
    </ul>

    <ul class="popular__catalog">
      <li class="popular__catalog-item mix burger sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger1.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чізбургер з листям салату
          </h3>
          <span class="product-card__price">
            160
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger pizza">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger2.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Біфбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger asian">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger3.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Королівський чізбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger4.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чорний гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger set">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger5.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чікен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger ">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger1.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чізбургер з листям салату
          </h3>
          <span class="product-card__price">
            160
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger2.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Біфбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger set">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger3.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Королівський чізбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger pizza">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger4.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чорний гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="popular__catalog-item mix burger asian">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product-card/burger5.jpg" alt="Чізбургер з листям салату"
              width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Чікен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currency">грн.</span>
          </span>
          <button class="btn" type="button">До кошика</button>
        </article>
      </li>
    </ul>

    <a class="popular__link link-more " href="#">Показати ще</a>
  </div>
</section>