<section class="restorant section">
  <div class="container">
    
    <h2 class="restorant__title title">
      Найкращі ресторани
    </h2>
    
    <ul class="restorant__list">
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest1.jpg" alt="Блейз Піца" width="370" height="300">
        <h3 class="restorant__item-title">Blaze Pizza</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            11:00 - 22:00
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest2.jpg" alt="Піца Ранчо" width="370" height="300">
        <h3 class="restorant__item-title">Pizza Runcho</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            12:00 - 21:00
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest3.jpg" alt="Піца Хат" width="370" height="300">
        <h3 class="restorant__item-title">Pizza Hut</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            11:00 - 22:00
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest4.jpg" alt="МакДональдс" width="370" height="300">
        <h3 class="restorant__item-title">McDonald`s</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            6:00 - 23:00
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest5.jpg" alt="КФС" width="370" height="300">
        <h3 class="restorant__item-title">KFC</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            6:00 - 23:30
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
      <li class="restorant__item">
        <img class="restorant__img" src="images/restorant/rest6.jpg" alt="Стар Бургер" width="370" height="300">
        <h3 class="restorant__item-title">Star Burgers</h3>
        <div class="restorant__box">
          <svg class="restorant__box-icon" width="22" height="22">
            <use href="images/sprite.svg#icon-timer"></use>
          </svg>
          <span class="restorant__time">
            9:00 - 21:00
          </span>
          <a class="restorant__link" href="#">
            <svg class="restorant__link-icon" width="24" height="24">
              <use href="images/sprite.svg#icon-arrow"></use>
            </svg>
            <span class="sr-only">Кнопка перейти до ресторану</span>
          </a>
        </div>
      </li>
    </ul>
  
  </div>
</section>